<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<pre><h1>Rotas disponíveis para consulta:</h1>
 <div style="font-size: 14px;">
 - /adm (GET) - Lista todos os usuários cadastrados;
 - /login/:id (POST) - Realiza o login de um usuário;
 - /login/:id (POST) - Realiza o login de um usuário;
 - /register (POST) - Cadastra um novo usuário;
 - /edition/:id (PUT) - Edita as informações de um usuário;
 - /delete/:id (DELETE) - Deleta um usuário;


 - /categories (GET) - Lista todas as categorias de gastos;
 - /category/:id (GET) - Retorna uma categoria específica de gastos;
 - /category (POST) - Cadastra uma nova categoria de gastos;
 - /category/:id (PUT) - Edita uma categoria de gastos existente;
 - /category/:id (DELETE) - Deleta uma categoria de gastos existente;


 - /spendings/:id (GET) - Lista todos os gastos de uma determinada categoria;
 - /spending/:id (GET) - Retorna um gasto específico;
 - /spending (POST) - Cadastra um novo gasto;
 - /spending/:id (PUT) - Edita um gasto existente;
 - /spending/:id (DELETE) - Deleta um gasto existente;


 - /economy/:id (GET) - Retorna a economia de um usuário;
 - /economy (POST) - Cadastra uma nova economia;


 - /reports/:id (GET) - Lista todos os relatórios de uma determinada categoria;
 - /report/:id (POST) - Retorna um relatório específico;
 - /report (POST) - Cadastra um novo relatório;
 - /report/:id (PUT) - Edita um relatório existente;
 - /report/:id (DELETE) - Deleta um relatório existente.
</div>
       
</pre>
</body>
</html>